


$plan-color : hsl(225deg, 100%, 98%);
$body-color : hsl(225deg, 100%, 94%);
$card-color : #FFF;
$btn-color : hsl(245, 75%, 52%);
$txt-color : hsl(224, 23%, 55%);
$title-color: hsl(223deg, 47%, 23%);